node_modules/
*.env
.parcel-cache/
controllers/authController_old.js
app - old 20240409.js
dev-data/
views/_header_W COMMENTS.pug
views/_footer_W COMMENTS.pug
views/account_W COMMENTS.pug
public/js/index_W COMMENTS.js